// Шапка сайта
.header
    height: 56.09vw
    max-height: 1077px
    max-width: 1920px
    margin: 0 auto
    -webkit-animation: background 30s infinite
    -moz-animation: background 30s infinite
    animation: background 30s infinite
    &__inner
        padding-left:  11.979%
        padding-top: 8.333%
    &__title
        display: flex
        flex-direction: column
        align-items: center
        position: relative
        width: 528px
        height: 528px
        padding-top: 15px
        background-color: #fff
        border: 10px solid #f4d4a5
        border-radius: 50% 
    &__company
        padding-top: 20px
        text-transform: uppercase
        font-family: $lato-b
        font-weight: bold
        font-size: 3.5rem
        color: #bf4200
    &__phone
        padding-top: 30px
        font-size: 3.8rem
        font-family: $lato-l
        font-weight: light
        text-decoration: none
        color: #000000
        &:hover
            text-decoration: underline
            color: blue
    &__main-title
        padding-top: 45px
        font-size: 4.2rem
        font-family: $lato-b, sans-serif
        font-weight: bold
        color: #1fad26
        text-transform: uppercase
        text-align: center
        &::after
            content: ""
            display: block
            position: absolute
            bottom: -125px
            left: 50%
            transform: translateX(-50%)
            width: 253px
            height: 253px
            border: 6px solid #f7f5e2
            border-radius: 50%
            background: center url(../img/prize.png)
        
// Анимация фона шапки сайта. 3 картинки по переменно меняются
@-webkit-keyframes background 
    from 
        background: url(../img/bg-house_1.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    11.6% 
        background: url(../img/bg-house_1.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    21.6% 
        background: url(../img/bg-house_2.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    44.8% 
        background: url(../img/bg-house_2.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    53.8% 
        background: url(../img/bg-house_3.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    79.1% 
        background: url(../img/bg-house_3.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    88.1% 
        background: url(../img/bg-house_1.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    to
        background: url(../img/bg-house_1.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
@-moz-keyframes background  
    from 
        background: url(../img/bg-house_1.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    11.6% 
        background: url(../img/bg-house_1.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    21.6% 
        background: url(../img/bg-house_2.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    44.8% 
        background: url(../img/bg-house_2.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    53.8% 
        background: url(../img/bg-house_3.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    79.1% 
        background: url(../img/bg-house_3.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    88.1% 
        background: url(../img/bg-house_1.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    to
        background: url(../img/bg-house_1.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
@keyframes background 
    from 
        background: url(../img/bg-house_1.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    11.6% 
        background: url(../img/bg-house_1.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    21.6% 
        background: url(../img/bg-house_2.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    44.8% 
        background: url(../img/bg-house_2.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    53.8% 
        background: url(../img/bg-house_3.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    79.1% 
        background: url(../img/bg-house_3.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    88.1% 
        background: url(../img/bg-house_1.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
    to
        background: url(../img/bg-house_1.jpg)
        background-size: 100% auto
        background-repeat: no-repeat
// Конец шапки сайта
// Начало основного контента

.main--wrapper
    max-width: 1100px
    margin: 0 auto
    display: flex
    flex-direction: column
    align-items: center
    padding: 90px 20px 0 20px
.discription
    font-family: $roboto-r
    font-size: 3.0rem
    color: #000
    &__title
        max-width: 800px
        margin: 0 auto
        text-align: center
        color: #d07a2d
        font-size: 4.1rem
        padding-bottom: 30px
    p
        text-align: center
        padding-top: 45px
        span
            text-transform: uppercase
    &__garant
        font-size: 3.2rem
        text-transform: uppercase
    &__img
        padding-top: 70px
        padding-bottom: 100px
.main__title
    text-align: center
    color: #d0662d
    font-size: 4.1rem
    font-family: $roboto-b
    font-weight: bold
    text-transform: uppercase
        // начало списка домов
.houses
    text-align: center
    font-size: 2.5rem
    font-family: $roboto-r
    font-weight: normal
    color: #000
    line-height: 1.2
    padding-top: 110px
    &__title
        font-size: 3.2rem
        font-family: $roboto-b
        font-weight: bold
        text-transform: uppercase
    &__price
        color: #17753b
        padding-bottom: 30px
        // конец списка домов
// Начало блока с каталогом
.catalog 
    background: #f1dfbc
    padding: 35px 0 35px
    margin-top: 150px
    &__wrapper
        width: 100%
        max-width: 1100px
        margin: 0 auto
    &__inner
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center
    &__img
        img
            max-width: 300px
            height: auto
    &__link
        text-transform: uppercase
        text-decoration: underline
        font-size: 3.2rem
        font-family: $roboto-b
        background: #17753b
        border: 5px solid #effd15
        padding: 29px 35px
        color: #fff
// Конец блока с каталогом
// начало галлереи
.gallary
    
.popup-gallery
    max-width: 1100px
    margin: 0 auto
    display: flex
    flex-wrap: wrap
    justify-content: center
    img
        width: 250px
        height: 250px
// конец галлереи




